  <div class="users-new-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-4 col-md-4 users-new-container">
          <h1 class="text-center text-white">Search</h1>
          <%= form_tag('/users/search', method: :get) do %>
            <div class="form-group">
              <%= label_tag :名前 %>
              <%= text_field_tag :search_name %>
            </div>
            <%= submit_tag '検索' , class: 'btn-block btn-white' %>
          <% end %>
          <% @users.each do |user| %>
            <% user.topics.each do |topic| %>
              <%= link_to topic_path(id: topic.id), method: :get do %>
                <%= image_tag topic.image.url, :size => '200x200'%>
              <% end %>
              <% if !topic.favorite_users.include?(current_user) %>
                <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                  <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon', :size => '50x30' %>
                <% end %>
              <% else %>
                <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                  <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon', :size => '50x30'  %>
                <% end %>
              <% end %>
              <%= link_to new_comment_path(topic_id: topic.id), method: :get do %>
                <%= image_tag 'icons/comment.png', class: 'topic-index-icon', :size => '50x30'  %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
